<%= render 'layouts/error' %>
<div class="container w-50 p-3">
<div class="card">
 <div class="card-header">
 Edit Monster
 </div>
  <div class="card-body">
    <h4 class="card-title">Edit your Monster!</h4>
    <p class="card-text">
<%= form_for [@user,@monster], url: user_monster_path(@monster), method: :patch, class: "form-group" do |f| %> 
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name, {class: "form-control"} %>
    <%= f.label :color, "Color:" %>
    <%= f.select(:color, [["Blue",1],["Green",2],["Red",3],["White",4]], {}, {class: "form-control"})%>
    <%= f.hidden_field :age %>
    <%= f.hidden_field :health %>
    <%= f.hidden_field :happiness %>
    <%= f.hidden_field :hunger %>
    <%= f.hidden_field :boredom %>
    <br><div class="text-right"><%= f.submit "Edit Monster", class: "btn btn-primary"  %></div>
<% end %>
</div>
</div>
</div>


