<div class="row justify-content-center"><%= form_for @store, class: "form-group"  do|f| %>
<%= f.label :name, "Name:" %><Br>
<%= f.text_field :name%><Br>
<%= f.label :store_type, "Type:" %><Br>
<%= f.text_field :store_type %><Br><br>
<%= f.submit "Edit Store", class: "btn btn-primary btn-block"%>
<% end %>
</div>