<%= render partial: "layouts/error", locals: {variable: :message} %>
<h2 class="row justify-content-center">Welcome, <%= current_user.username.titleize %></h2>
<h3 class="row justify-content-center">Rupees: <%= current_user.rupees %>&#8377;</h3>
<%= render 'monster_view' %>
<BR>
<div class="row justify-content-center">
  <%= link_to "New Monster", new_user_monster_path(current_user), class: "btn btn-primary", style: "margin: 0 10px;"%>
  <%= link_to "Go to the Store", items_path, class: "btn btn-secondary", style: "margin: 0 10px;" %>
  <%= link_to "Gamble!", slot_machines_path, class: "btn btn-primary", style: "margin: 0 10px;" %>
</div>
