<%= render 'layouts/error' %>
<% if current_user %>
<h1 class="row justify-content-center">Welcome, <%= current_user.username.capitalize %></h1>
  <% if !!current_user.rupees %>
    <h3 class="row justify-content-center">Rupees: <%= current_user.rupees %></h3>
  <% end %>
  <% if current_user.monsters %>
  <h3 class="row justify-content-center">Your Monsters:</h3>
    <div style="height: 15px;"></div>
    <div class="row justify-content-center">
  
        <% current_user.monsters.each do |m|%>
          <%= button_to "#{m.name}", user_monster_path(m),method: :get, class: "btn btn-sq btn-primary" %>&nbsp;&nbsp;<br>
        <% end %>

    </div>
  <% end %>
  <div style="height: 25px;"></div>
  <div class="row justify-content-center">
  
  <%= link_to "New Monster", new_user_monster_path, class: "btn btn-primary"%>&nbsp;
  <%= link_to "Go to the Store", stores_path, class: "btn btn-secondary" %>&nbsp;
  <%= link_to "Gamble!", slot_machines_path, class: "btn btn-primary" %>
  </div>
  <% else %>
  <h1 class="row justify-content-center">Welcome</h1> 
<% end %>

<style>
.btn-sq {
  width: 100px !important;
  height: 100px !important;
}
</style>