<div>
  <h3 class="row justify-content-center">Welcome to <%= @store.name.capitalize %>!</h3>
  <Br><br>
</div>
<%= render 'layouts/error' %>
<% if !@store.items.empty? %>
  <div class="row justify-content-center">
    <div class="container">
      <table class="table table-striped">
        <tr>
          <th scope="col" style="text-align:center">Name</th>
          <th scope="col" style="text-align:center">Price</th>
          <th scope="col" style="text-align:center">Effectiveness</th>
          <th scope="col" style="text-align:center">Type</th>
          <th scope="col"></th>
        </tr>
        <% @store.items.each do |i|%>
          <tr>
            <td style="text-align:center"><%= i.name.capitalize %></td>
            <td style="text-align:center">&#8377;&nbsp;<%= i.price %></td>
            <td style="text-align:center"><%= i.effectiveness %></td>
            <td style="text-align:center"><%= i.item_type.capitalize %></td>
            <td style="text-align:center"><%= form_for @inventory  do |f| %>
                <%= f.hidden_field :user_id %>
                <%= f.hidden_field :item_id, :value => i.id %>
                <%= f.hidden_field :store_id, :value => @store.id %>
                <%= f.submit "Buy #{i.name.capitalize}!", class: "btn btn-primary"%>
              <% end %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% else %>
  <h3 class="row justify-content-center">No Items! </h3>
<% end %>

<%= stylesheet_link_tag 'items'%>
