<%= render 'layouts/error' %>

<div class="row justify-content-center"><%= form_for [@store,@item], class: "form-group"  do|f| %>
<%= f.label :name, "Name:" %><Br>
<%= f.text_field :name%><Br>
<%= f.label :item_type, "Item Type:" %><Br>
<%= f.select :item_type, [["TOY","toy"],["MEDICINE","medicine"],["FOOD","food"]]%><br>
<%= f.label :price, "Price:" %><Br>
<%= f.text_field :price %><Br><br>
<%= f.label :effectiveness, "Effectiveness:" %><Br>
<%= f.text_field :effectiveness %><Br><br>
<%= f.submit "Create Item", class: "btn btn-primary btn-block"%>
<% end %>
</div>