<div class="row justify-content-center"><%= form_for [@store,@item], class: "form-group"  do|f| %>
<%= f.label :name, "Name:" %><Br>
<%= f.text_field :name%><Br>
<%= f.label :item_type, "Item Type:" %><Br>
<%= f.text_field :item_type %><Br><br>
<%= f.label :price, "Price:" %><Br>
<%= f.text_field :price %><Br><br>
<%= f.label :effectiveness, "Effectiveness:" %><Br>
<%= f.text_field :effectiveness %><Br><br>
<%= f.label :store_stock, "Store Stock:" %><Br>
<%= f.text_field :store_stock %><Br><br>
<%= f.submit "Create Item", class: "btn btn-primary btn-block"%>
<% end %>
</div>